body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

/* BLOG */

.blog-comment-avatar {
    width: 50px;
    height: 50px;
}

.blog-comment-time {
    font-size: 11px;
}

.blog-categories-widget-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.product_img a {display: block;position: relative;}
.product_img img {background-color: #ffffff;position: relative;z-index: 1;}
.product_img .img__2 {position: absolute;left: 12px;top: 0;z-index: 10; opacity: 0;}

.badge-offer {
    z-index: 20 !important;
}

.product_listing_controls {
    margin: -50px 0 120px 0;
    font-size: 14px;
}

.product_listing_controls label {
    display: inline-block !important;
}
.product_listing_controls select{
    font-size: 12px !important;
    padding: 3px !important;
    display: inline-block !important;
    height: 28px !important;
}
/*.product_listing_controls > div {
    width: 190px;
    float: left;
    margin: 0 5px;
}*/

.sort_by {
    float: right;
    margin: 10px 0 0 10px;
}

.show_products {
    float: right;
    margin: 10px 0 0 10px;
}
