// This file is best viewed with Tab size 4 code indentation


// -----------------------------------------------------------------------------------------------------------------
// 1. Theme Quick Settings (Variables)
// (for further control, you will need to dig into the actual CSS in 2.)
// -----------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------

$sm-sport-blue__white:										#fff !default;
$sm-sport-blue__black:										#333 !default;
$sm-sport-blue__green: 										#ceecfc !default;
$sm-sport-blue__green-dark: 								#0AA1F1 !default;

$sm-sport-blue__box-shadow:									rgba(0, 0, 0, 0.25) !default;


// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------

$sm-sport-blue__desktop-vp:									768px !default;		// switch from collapsible to desktop


// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------

$sm-sport-blue__font-family:									"Play", Arial, sans-serif !default;
$sm-sport-blue__font-size-base:									14px !default;
$sm-sport-blue__font-size-small:								13px !default;
$sm-sport-blue__line-height:									17px !default;


// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------

$sm-sport-blue__border-width:									2px !default;
$sm-sport-blue__border-radius-base:							4px !default;


// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------

// Menu box
$sm-sport-blue__collapsible-bg:								$sm-sport-blue__white !default;
$sm-sport-blue__collapsible-border-color:						$sm-sport-blue__green-dark !default;

// Items
$sm-sport-blue__collapsible-item-color:						$sm-sport-blue__black !default;
$sm-sport-blue__collapsible-item-disabled-color:				darken($sm-sport-blue__white, 20%) !default;
$sm-sport-blue__collapsible-item-padding-vertical:			13px !default;
$sm-sport-blue__collapsible-item-padding-horizontal:			20px !default;

// Items separators
$sm-sport-blue__collapsible-separators-color:					rgba($sm-sport-blue__green-dark, 0.2) !default;

// Toggle button (sub menu indicators)
$sm-sport-blue__collapsible-toggle-bg:						rgba($sm-sport-blue__green-dark, 0.2) !default;


// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------

// Menu box
$sm-sport-blue__collapsible-sub-bg:							rgba($sm-sport-blue__green-dark, 0.2) !default;

// Items text indentation for deeper levels
$sm-sport-blue__collapsible-sub-item-indentation:				8px !default;


// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

// Menu box
$sm-sport-blue__desktop-bg:									transparent !default;

// Items
$sm-sport-blue__desktop-item-color:							$sm-sport-blue__black !default;
$sm-sport-blue__desktop-item-hover-color:						$sm-sport-blue__white !default;
$sm-sport-blue__desktop-item-hover-bg:						$sm-sport-blue__green-dark !default;
$sm-sport-blue__desktop-item-highlighted-color:				$sm-sport-blue__black !default;
$sm-sport-blue__desktop-item-highlighted-bg:					$sm-sport-blue__green !default;
$sm-sport-blue__desktop-item-highlighted-box-shadow:			0 4px 3px $sm-sport-blue__box-shadow !default;
$sm-sport-blue__desktop-item-disabled-color:					darken($sm-sport-blue__white, 20%) !default;
$sm-sport-blue__desktop-item-padding-vertical:				11px !default;
$sm-sport-blue__desktop-item-padding-horizontal:				20px !default;

// Sub menu indicators
$sm-sport-blue__desktop-arrow-size:							6px !default;		// border-width
$sm-sport-blue__desktop-arrow-color:							$sm-sport-blue__green-dark !default;
$sm-sport-blue__desktop-arrow-hover-color:					$sm-sport-blue__white !default;
$sm-sport-blue__desktop-arrow-highlighted-color:				$sm-sport-blue__green-dark !default;
$sm-sport-blue__desktop-arrow-spacing:						6px !default;

// Vertical items
$sm-sport-blue__desktop-vertical-item-highlighted-color:		$sm-sport-blue__desktop-item-hover-color !default;
$sm-sport-blue__desktop-vertical-item-highlighted-bg:			$sm-sport-blue__desktop-item-hover-bg !default;
$sm-sport-blue__desktop-vertical-item-padding-vertical:		10px !default;
$sm-sport-blue__desktop-vertical-item-padding-horizontal:		20px !default;


// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------

// Menu box
$sm-sport-blue__desktop-sub-bg:								$sm-sport-blue__green !default;
$sm-sport-blue__desktop-sub-box-shadow:						0 4px 3px $sm-sport-blue__box-shadow !default;
$sm-sport-blue__desktop-sub-padding-vertical:					8px !default;
$sm-sport-blue__desktop-sub-padding-horizontal:				0 !default;

// Items
$sm-sport-blue__desktop-sub-item-color:						$sm-sport-blue__black !default;
$sm-sport-blue__desktop-sub-item-hover-color:					$sm-sport-blue__white !default;
$sm-sport-blue__desktop-sub-item-hover-bg:					$sm-sport-blue__green-dark !default;
$sm-sport-blue__desktop-sub-item-disabled-color:				lighten($sm-sport-blue__black, 50%) !default;
$sm-sport-blue__desktop-sub-item-padding-vertical:			10px !default;
$sm-sport-blue__desktop-sub-item-padding-horizontal:			20px !default;


// -----------------------------------------------------------------------------------------------------------------
// 2. Theme CSS
// -----------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------
// :: 2.1. Collapsible mode (mobile first)
// ----------------------------------------------------------

// calc item height and sub menus toggle button size
$sm-sport-blue__item-height: $sm-sport-blue__line-height + $sm-sport-blue__collapsible-item-padding-vertical * 2;
// set toggle button size to 80% of item height
$sm-sport-blue__toggle-size: floor($sm-sport-blue__item-height * 0.8);
$sm-sport-blue__toggle-spacing: floor($sm-sport-blue__item-height * 0.1);

// Main menu box
.sm-sport-blue {
	border-top: $sm-sport-blue__border-width solid $sm-sport-blue__collapsible-border-color;
	border-bottom: $sm-sport-blue__border-width solid $sm-sport-blue__collapsible-border-color;
	background: $sm-sport-blue__collapsible-bg;

	// Main menu items
	a {
		&,
		&:hover,
		&:focus,
		&:active {
			padding: $sm-sport-blue__collapsible-item-padding-vertical $sm-sport-blue__collapsible-item-padding-horizontal;
			/* make room for the toggle button (sub indicator) */
			padding-right: $sm-sport-blue__collapsible-item-padding-horizontal + $sm-sport-blue__toggle-size + $sm-sport-blue__toggle-spacing;
			color: $sm-sport-blue__collapsible-item-color;
			font-family: $sm-sport-blue__font-family;
			font-size: $sm-sport-blue__font-size-base;
			font-weight: normal;
			line-height: $sm-sport-blue__line-height;
			text-decoration: none;
		}

		&.current {
			font-weight: bold;
		}

		&.disabled {
			color: $sm-sport-blue__collapsible-item-disabled-color;
		}

		// Toggle buttons (sub menu indicators)
		.sub-arrow {
			position: absolute;
			top: 50%;
			margin-top: -(ceil($sm-sport-blue__toggle-size / 2));
			left: auto;
			right: $sm-sport-blue__toggle-spacing;
			width: $sm-sport-blue__toggle-size;
			height: $sm-sport-blue__toggle-size;
			overflow: hidden;
			font: bold #{$sm-sport-blue__font-size-small}/#{$sm-sport-blue__toggle-size} monospace !important;
			text-align: center;
			text-shadow: none;
			background: $sm-sport-blue__collapsible-toggle-bg;
			border-radius: $sm-sport-blue__border-radius-base;
		}
		.sub-arrow::before {
			content: '+';
		}
		&.highlighted .sub-arrow::before {
			content: '-';
		}
	}

	// Main menu items separators
	li {
		border-top: 1px solid $sm-sport-blue__collapsible-separators-color;
	}
        > li:first-child {
		border-top: 0;
	}

	// Sub menus box
	ul {
		background: $sm-sport-blue__collapsible-sub-bg;

		// Sub menus items
		a {
			&,
			&:hover,
			&:focus,
			&:active {
				font-size: $sm-sport-blue__font-size-small;
				// add indentation for sub menus text
				border-left: $sm-sport-blue__collapsible-sub-item-indentation solid transparent;
			}
		}

		// Add indentation for sub menus text for deeper levels
		@include sm-sport-blue__sub-items-indentation($sm-sport-blue__collapsible-sub-item-indentation);
	}
}


// ----------------------------------------------------------
// :: 2.2. Desktop mode
// ----------------------------------------------------------

@media (min-width: $sm-sport-blue__desktop-vp) {

	/* Switch to desktop layout
	-----------------------------------------------
	   These transform the menu tree from
	   collapsible to desktop (navbar + dropdowns)
	-----------------------------------------------*/
	/* start... (it's not recommended editing these rules) */
	.sm-sport-blue ul{position:absolute;width:12em;}
	.sm-sport-blue li{float:left;}
	.sm-sport-blue.sm-rtl li{float:right;}
	.sm-sport-blue ul li,.sm-sport-blue.sm-rtl ul li,.sm-sport-blue.sm-vertical li{float:none;}
	.sm-sport-blue a{white-space:nowrap;}
	.sm-sport-blue ul a,.sm-sport-blue.sm-vertical a{white-space:normal;}
	.sm-sport-blue .sm-nowrap > li > a,.sm-sport-blue .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
	/* ...end */

	// Main menu box
	.sm-sport-blue {
		border-top: 0;
		background: $sm-sport-blue__desktop-bg;

		// Main menu items
		a {
			&,
			&:hover,
			&:focus,
			&:active,
			&.highlighted {
				padding: $sm-sport-blue__desktop-item-padding-vertical $sm-sport-blue__desktop-item-padding-horizontal;
				color: $sm-sport-blue__desktop-item-color;
				border-radius: $sm-sport-blue__border-radius-base $sm-sport-blue__border-radius-base 0 0;
			}

			&:hover,
			&:focus,
			&:active {
				background: $sm-sport-blue__desktop-item-hover-bg;
				color: $sm-sport-blue__desktop-item-hover-color;
			}

			&.highlighted {
				background: $sm-sport-blue__desktop-item-highlighted-bg;
				color: $sm-sport-blue__desktop-item-highlighted-color;
				box-shadow: $sm-sport-blue__desktop-item-highlighted-box-shadow;
			}

			&.disabled {
				background: transparent;
				color: $sm-sport-blue__desktop-item-disabled-color;
				box-shadow: none;
			}

			// Make room for the sub arrows
			&.has-submenu {
				padding-right: $sm-sport-blue__desktop-item-padding-horizontal + 8px + $sm-sport-blue__desktop-arrow-spacing;
			}

			// Sub menu indicators
			.sub-arrow {
				top: 50%;
				margin-top: -(ceil($sm-sport-blue__desktop-arrow-size / 2));
				right: $sm-sport-blue__desktop-item-padding-horizontal;
				width: 0;
				height: 0;
				border-width: $sm-sport-blue__desktop-arrow-size ($sm-sport-blue__desktop-arrow-size * 0.67) 0 ($sm-sport-blue__desktop-arrow-size * 0.67);
				border-style: solid dashed dashed dashed;
				border-color: $sm-sport-blue__desktop-arrow-color transparent transparent transparent;
				background: transparent;
				border-radius: 0;
			}
			&:hover .sub-arrow,
			&:focus .sub-arrow,
			&:active .sub-arrow {
				border-color: $sm-sport-blue__desktop-arrow-hover-color transparent transparent transparent;
			}
			&.highlighted .sub-arrow {
				border-color: $sm-sport-blue__desktop-arrow-highlighted-color transparent transparent transparent;
			}
			&.disabled .sub-arrow {
				border-color: $sm-sport-blue__desktop-arrow-color transparent transparent transparent;
			}
			// reset mobile first style
			.sub-arrow::before {
				display: none;
			}
		}

		// No main menu items separators
		li {
			border-top: 0;
		}

		// Sub menus box
		ul {
			border: 0;
			padding: $sm-sport-blue__desktop-sub-padding-vertical $sm-sport-blue__desktop-sub-padding-horizontal;
			background: $sm-sport-blue__desktop-sub-bg;
			border-radius: 0 $sm-sport-blue__border-radius-base $sm-sport-blue__border-radius-base $sm-sport-blue__border-radius-base;
			box-shadow: $sm-sport-blue__desktop-sub-box-shadow;

			// 2+ sub levels need rounding of all corners
			ul {
				border-radius: $sm-sport-blue__border-radius-base;
			}

			// Sub menus items
			a {
				&,
				&:hover,
				&:focus,
				&:active,
				&.highlighted {
					border: 0 !important;
					padding: $sm-sport-blue__desktop-sub-item-padding-vertical $sm-sport-blue__desktop-sub-item-padding-horizontal;
					color: $sm-sport-blue__desktop-sub-item-color;
					border-radius: 0;
				}

				&:hover,
				&:focus,
				&:active,
				&.highlighted {
					background: $sm-sport-blue__desktop-sub-item-hover-bg;
					color: $sm-sport-blue__desktop-sub-item-hover-color;
					box-shadow: none;
				}

				&.disabled {
					background: transparent;
					color: $sm-sport-blue__desktop-sub-item-disabled-color;
				}

				// No need for additional room for the sub arrows
				&.has-submenu {
					padding-right: $sm-sport-blue__desktop-item-padding-horizontal;
				}

				// Sub menu indicators
				.sub-arrow {
					right: 10px;
					margin-top: -($sm-sport-blue__desktop-arrow-size * 0.67);
					border-width: ($sm-sport-blue__desktop-arrow-size * 0.67) 0 ($sm-sport-blue__desktop-arrow-size * 0.67) $sm-sport-blue__desktop-arrow-size;
					border-style: dashed dashed dashed solid;
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-color;
				}
				&:hover .sub-arrow,
				&:focus .sub-arrow,
				&:active .sub-arrow,
 				&.highlighted .sub-arrow {
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-hover-color;
				}
				&.disabled .sub-arrow {
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-color;
				}
			}
		}

		// Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." in the default download package
		.scroll-up,
		.scroll-down {
			position: absolute;
			display: none;
			visibility: hidden;
			overflow: hidden;
			background: $sm-sport-blue__desktop-sub-bg;
			height: 20px;
			// width and position will be set automatically by the script
		}
		.scroll-up-arrow,
		.scroll-down-arrow {
			position: absolute;
			top: 6px;
			left: 50%;
			margin-left: -8px;
			// we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too
			width: 0;
			height: 0;
			overflow: hidden;
			border-width: 0 6px 8px 6px; // tweak size of the arrow
			border-style: dashed dashed solid dashed;
			border-color: transparent transparent $sm-sport-blue__desktop-arrow-color transparent;
		}
		.scroll-down-arrow {
			border-width: 8px 6px 0 6px;
			border-style: solid dashed dashed dashed;
			border-color: $sm-sport-blue__desktop-arrow-color transparent transparent transparent;
		}


		// Rigth-to-left

		// Main menu box
		&.sm-rtl {

			// Main menu items
			a {

				// Make room for the sub arrows
				&.has-submenu {
					padding-right: $sm-sport-blue__desktop-item-padding-horizontal;
					padding-left: $sm-sport-blue__desktop-item-padding-horizontal + 8px + $sm-sport-blue__desktop-arrow-spacing;
				}

				// Sub menu indicators
				.sub-arrow {
					right: auto;
					left: $sm-sport-blue__desktop-item-padding-horizontal;
				}
			}

			// Vertical main menu
			&.sm-vertical {
				border-right: 0;
				border-left: $sm-sport-blue__border-width solid $sm-sport-blue__collapsible-border-color;

				// Vertical main menu items
				a {
					border-radius: 0 $sm-sport-blue__border-radius-base $sm-sport-blue__border-radius-base 0;

					// No need for additional room for the sub arrows
					&.has-submenu {
						padding: $sm-sport-blue__desktop-vertical-item-padding-vertical $sm-sport-blue__desktop-vertical-item-padding-horizontal;
					}

					// Sub menu indicators
					.sub-arrow {
						right: auto;
						left: 10px;
						border-width: ($sm-sport-blue__desktop-arrow-size * 0.67) $sm-sport-blue__desktop-arrow-size ($sm-sport-blue__desktop-arrow-size * 0.67) 0;
						border-style: dashed solid dashed dashed;
						border-color: transparent $sm-sport-blue__desktop-arrow-color transparent transparent;
					}
					&:hover .sub-arrow,
					&:focus .sub-arrow,
					&:active .sub-arrow,
	 				&.highlighted .sub-arrow {
						border-color: transparent $sm-sport-blue__desktop-arrow-hover-color transparent transparent;
					}
					&.disabled .sub-arrow {
						border-color: transparent $sm-sport-blue__desktop-arrow-color transparent transparent;
					}
				}
			}

			// Sub menus box
			ul {
				border-radius: $sm-sport-blue__border-radius-base 0 $sm-sport-blue__border-radius-base $sm-sport-blue__border-radius-base;

				a {
					border-radius: 0 !important;

					// No need for additional room for the sub arrows
					&.has-submenu {
						padding: $sm-sport-blue__desktop-sub-item-padding-vertical $sm-sport-blue__desktop-sub-item-padding-horizontal !important;
					}

					// Sub menu indicators
					.sub-arrow {
						right: auto;
						left: 10px;
						border-width: ($sm-sport-blue__desktop-arrow-size * 0.67) $sm-sport-blue__desktop-arrow-size ($sm-sport-blue__desktop-arrow-size * 0.67) 0;
						border-style: dashed solid dashed dashed;
						border-color: transparent $sm-sport-blue__desktop-arrow-color transparent transparent;
					}
					&:hover .sub-arrow,
					&:focus .sub-arrow,
					&:active .sub-arrow,
	 				&.highlighted .sub-arrow {
						border-color: transparent $sm-sport-blue__desktop-arrow-hover-color transparent transparent;
					}
					&.disabled .sub-arrow {
						border-color: transparent $sm-sport-blue__desktop-arrow-color transparent transparent;
					}
				}
			}
		}


		// Vertical main menu

		// Main menu box
		&.sm-vertical {
			border-bottom: 0;
			border-right: $sm-sport-blue__border-width solid $sm-sport-blue__collapsible-border-color;

			// Main menu items
			a {
				padding: $sm-sport-blue__desktop-vertical-item-padding-vertical $sm-sport-blue__desktop-vertical-item-padding-horizontal;
				border-radius: $sm-sport-blue__border-radius-base 0 0 $sm-sport-blue__border-radius-base;

				&:hover,
				&:focus,
				&:active,
				&.highlighted {
					background: $sm-sport-blue__desktop-item-hover-bg;
					color: $sm-sport-blue__desktop-item-hover-color;
					box-shadow: none;
				}

				&.disabled {
					background: transparent;
					color: $sm-sport-blue__desktop-item-disabled-color;
				}

				// Sub menu indicators
				.sub-arrow {
					right: 10px;
					margin-top: -($sm-sport-blue__desktop-arrow-size * 0.67);
					border-width: ($sm-sport-blue__desktop-arrow-size * 0.67) 0 ($sm-sport-blue__desktop-arrow-size * 0.67) $sm-sport-blue__desktop-arrow-size;
					border-style: dashed dashed dashed solid;
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-color;
				}
				&:hover .sub-arrow,
				&:focus .sub-arrow,
				&:active .sub-arrow,
 				&.highlighted .sub-arrow {
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-hover-color;
				}
				&.disabled .sub-arrow {
					border-color: transparent transparent transparent $sm-sport-blue__desktop-arrow-color;
				}
			}

			// Sub menus box
			ul {
				border-radius: $sm-sport-blue__border-radius-base !important;

				// Sub menus items
				a {
					padding: $sm-sport-blue__desktop-sub-item-padding-vertical $sm-sport-blue__desktop-sub-item-padding-horizontal;
				}
			}
		}
	}
}