@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
/*
 * Skin: Light
 * ----------
 */
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.table a {
    /*color: #c8deff;*/
}
.table a {
    /*color: #1b2e3e;*/
}

.table-bordered > thead > tr > th {
    background-color: #fff;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid rgb(255, 255, 255) !important;
}
.grid-view .table > thead > tr > th {
    border-bottom: 2px solid #777;
}
.breadcrumb {
    border: 0;
}
.box.box-default {
    border-top-color: #777;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #ffffff;
}

table {
    background-color: #f8f8f8 !important;
}

table a, .breadcrumb a, .tab-pane a, #dynamic-content a {
    color: rgba(19, 92, 123, 0.89) !important;
}

table a:hover, table a:active,
.breadcrumb a:hover, .breadcrumb a:active,
.tab-pane a:hover, .tab-pane a:active,
#dynamic-content a:hover, #dynamic-content a:active,
.nav-pills:not(.nav-sidebar) a:hover:not(.active)
{
    color: #628589 !important;
}

.page-item.active .page-link, .page-link:hover {
    color: #fff !important;
    background-color: #628589 !important;
    border-color: #628589 !important;
}

.page-link {
    color: #628589 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}

.text-primary {
    color: #628589 !important;
}

.card .card-header button.btn-link.collapsed {
    color: rgba(19, 92, 123, 0.89) !important;
}

.card .card-header button.btn-link {
    color: #000000 !important;
}

blockquote {
    background-color: #fff;
    border-left: 0.7rem solid #628589 !important;
    margin: 1.5em .7rem;
    padding: .5em .7rem;
}