@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
/*
 * Skin: Dark
 * ----------
 */
body,
h1,
h2,
h3,
h4,
h5 {
  /*font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

a {
    text-decoration: none !important;
}

.skin-blue .main-header .navbar {
  background-color: #393939;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #2c2c2c;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #2c2c2c;
  }
}
.skin-blue .main-header .logo {
  background-color: #2c2c2c;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #2a2a2a;
}
.skin-blue .main-header li.user-header {
  background-color: #393939;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #222d32;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #393939;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .sidebar-menu .treeview-menu > li.active > a,
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #393939;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #363636;
}
.content-wrapper {
  min-height: 100%;
  background-color: #222;
  z-index: 800;
}
h1,
h2,
h3,
h4,
h5,
.page-header {
  color: #eee;
}
.content-header > .breadcrumb > li > a {
  color: #777;
}
.content-header > .breadcrumb > li > a:hover {
  color: #aaa !important;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #121212;
  border-top: 3px solid #696969;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header {
  color: #ccc;
}
.box-header.with-border {
  border-bottom: 1px solid #393939;
}
body {
  color: #ccc;
}
.page-header {
  border-bottom: 1px solid #393939;
}
/*
.nav-tabs-custom {
  background: #121212;
  //background: transparent;
}

.nav-tabs-custom>.tab-content, .nav-tabs-custom>.nav-tabs {
  background: #121212;
  //background: transparent;
}*/
.nav-tabs-custom > .nav-tabs > li.header {
  color: #aaa;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: #aaa;
}
.form-control {
  color: #ccc;
  background-color: #333;
  background-image: none;
  border: 1px solid #555;
}
.form-control[disabled] {
  color: #777;
  background-color: #555;
  background-image: none;
  border: 1px solid #555;
}
.box-footer {
  border-top: 1px solid #393939;
  background-color: #181818;
}
.btn-default {
  background-color: #353535;
  color: #ddd;
  border-color: #444;
}
.btn-default:hover {
  background-color: #252525;
  color: #ddd;
  border-color: #444;
}
.btn-info {
  background-color: #0085a8;
  border-color: #006e8a;
}
.btn-info:hover {
  background-color: #00627c;
  border-color: #006e8a;
}
.input-group .input-group-addon {
  border-color: #444;
  background-color: #222;
  color: #aaa;
}
code {
  color: #dfafb5;
  background-color: #444444;
}
.main-footer {
  background: #444;
  color: #ccc;
  border-top: 1px solid #393939;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #222222;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #cccccc;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #ccc !important;
}
.table a {
  color: #c8deff;
}
.table a {
  color: #afc0db;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #1c1e22 !important;
}
.grid-view .table > thead > tr > th {
  border-bottom: 2px solid #777;
}
.breadcrumb {
  border: 0;
}
.box.box-default {
  border-top-color: #777;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #1c1e22;
}
/* TABS */
.nav-tabs-custom {
  background: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #3e444c;
  color: #fff;
}
.nav-tabs-custom > .nav-tabs {
  background: transparent !important;
}
.nav-tabs-custom > .tab-content {
  background: #3e444c;
}
.nav-tabs-custom > .nav-tabs {
  border-bottom-color: #555;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top-color: transparent;
  border-left-color: #555;
  border-right-color: #555;
}
.login-page {
  color: #ccc;
  background-color: #222 !important;
}
.login-page .login-box-body {
  color: #ccc;
  background-color: #555;
}
.login-page .login-box-body a {
  color: #1ab7ea;
}
.login-page .login-box-body a:hover {
  color: #afc0db;
}
.login-page .login-logo a {
  color: #ccc;
}
.file-caption-name {
  color: #ccc;
}

.info-box {
  background-color: #555;
}

.card {
    background-color: #282829;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #f8f9fa;
    background-color: #222;
    border-color: #495057 #495057 #222;
}

.fc-day-top {
    border-top: solid 1px #222 !important;
    border-right: solid 1px #222 !important;
    padding-right: 10px !important;
}
.fc-day {
    border-left: solid 1px #222 !important;
    border-right: solid 1px #222 !important;
    border-bottomt: solid 1px #222 !important;
}
.fc-day td{
    background-color: red;
}
.fc-widget-header th {
    background-color: #363c42;
    border-left: solid 1px #222 !important;
    border-right: solid 1px #222 !important;
}
.fc-widget-header {
    border-top: solid 1px #222 !important;
    border-bottom: solid 1px #222 !important;
}
.fc .fc-row .fc-content-skeleton td {
    border-left: solid 1px #222 !important;
}
.fc-head-container {
    border: 0 !important;
}
.fc-widget-content {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.btn-default, .fc-button-primary {
    color: #ffffff;
    background-color: #3a3f44;
    border-color: #3a3f44;
}
.btn-default:focus, .btn-default.focus, .fc-button-primary:focus {
    color: #ffffff;
    background-color: #232628;
    border-color: #000000;
}
.btn-default:hover, .fc-button-primary:hover {
    color: #ffffff;
    background-color: #232628;
    border-color: #1e2023;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .fc-button-primary:active {
    color: #ffffff;
    background-color: #232628;
    border-color: #1e2023;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .fc-button-primary:active:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .fc-button-primary:active:focus,
.btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #121415;
    border-color: #000000;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .fc-button-primary:active {
    background-image: none;
}
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background-color: #3a3f44;
    border-color: #3a3f44;
}
.btn-default .badge {
    color: #3a3f44;
    background-color: #ffffff;
}
hr.fc-divider {
    background-color: #222222 !important;
    height: 1px;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.fc-time.fc-widget-content, .fc-content-skeleton td {
    border-right: solid 1px #222 !important;
}

.fc-list-table .fc-list-heading td {
    background-color: #484f55;
}

.fc-list-table .fc-list-item:hover td {
    background-color: #3b4045;
}

.fc-unthemed .fc-list-empty {
    background-color: #3b4045 !important;
}

.calendar-left-sidebar .dropdown-toggle::after {
    display: none;
}

.nav-item .dropdown-menu,
.kanban-title-board .dropdown-menu {
    background-color: #393939;
    border: solid 1px #555;
}
.nav-item .dropdown-menu a,
.kanban-title-board .dropdown-menu a {
    color: #cccccc;
}
.nav-item .dropdown-menu a:hover,
.nav-item .dropdown-menu a:active,
.nav-item .dropdown-menu a:focus,
.kanban-title-board .dropdown-menu a:hover,
.kanban-title-board .dropdown-menu a:active,
.kanban-title-board .dropdown-menu a:focus {
    color: #ffffff !important;
    background-color: #555 !important;
}

/*.fc-today .fc-content-skeleton td {
    background-color: red;
}*/

.fc-content-skeleton td {
    background-color: transparent !important;
}

.datetimepicker, .datepicker {
    background-color: #2E3338 !important;
    color: #cccccc;
}

.datetimepicker .switch:hover, .datepicker .switch:hover, .datepicker-switch:hover,
.datetimepicker .prev:hover, .datepicker .prev:hover,
.datetimepicker .next:hover, .datepicker .next:hover,
.datetimepicker .minute:hover, .datepicker .minute:hover,
.datetimepicker .hour:hover, .datepicker .hour:hover,
.datetimepicker .day:hover, .datepicker .day:hover,
.datetimepicker .month:hover, .datepicker .month:hover, .datepicker .month.focused,
.datetimepicker .year:hover, .datepicker .year:hover, .datepicker .year.focused,
.datepicker .decade:hover, .datepicker .decade.focused,
.datepicker .century:hover, .datepicker .century.focused{
    background-color: #3b4045 !important;
}

.datepicker:after {
    border-top: 0.375rem solid #3b4045 !important;
}

.sp-palette-container {
    border-right: 0 !important;
}
.sp-picker-container {
    border-left: 0 !important;
}
.sp-container {
    background-color: #2E3338 !important;
    color: #cccccc !important;
    border: solid 1px #555 !important;
}
.sp-palette .sp-thumb-el {
    border: solid 1px #555 !important;
}

.calendar-remote-link {
    background-color: #3b4045 !important;
    color: #cccccc;
}

.kanban-title-board .dropdown-toggle::after {
    display: none;
}

.callout {
    background-color: #2E3338 !important;
}

.not-set {
    color: #555 !important;
}

.list-group-item-danger {
    background-color: #5d110d;
}

.card-comments {
    background-color: #2E3338 !important;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.kv-panel-before {
    border-bottom: 0 !important;
}

.sortable,
.sortable li {
    border: solid 1px #3b4045 !important;
}

.sortable li:focus,
.sortable li:hover {
    background-color: #3b4045 !important;
}

.dynagrid-sortable-header.disabled {
    color: #cccccc !important;
    background-color: #3b4045 !important;
}

.dynagrid-sortable-separator {
    color: #3b4045 !important;
}

.dynagrid-column-label {
    border-top: solid 1px #3b4045 !important;
    border-bottom: solid 1px #3b4045 !important;
}

.kv-panel-pager .page-link {
    background-color: #343A40;
    border: solid 1px #3E444A;
    color: #cccccc;
}

.kv-panel-pager .page-link:hover,
.kv-panel-pager .page-item.active .page-link {
    background-color: #3E444A;
    border: solid 1px #3E444A;
    color: #ffffff;
}

.kv-panel-pager .page-item.disabled .page-link {
    background-color: transparent;
    border: solid 1px #3E444A;
    color: #999999;
}

.select2-search__field {
    color: #999999;
}
