.sm-sport-blue {
  border-top: 2px solid #0AA1F1;
  border-bottom: 2px solid #0AA1F1;
  background: #fff; }
  .sm-sport-blue a, .sm-sport-blue a:hover, .sm-sport-blue a:focus, .sm-sport-blue a:active {
    padding: 13px 20px;
    /* make room for the toggle button (sub indicator) */
    padding-right: 58px;
    color: #333;
    font-family: "Play", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    text-decoration: none; }
  .sm-sport-blue a.current {
    font-weight: bold; }
  .sm-sport-blue a.disabled {
    color: #cccccc; }
  .sm-sport-blue a .sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 13px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(10, 161, 241, 0.2);
    border-radius: 4px; }
  .sm-sport-blue a .sub-arrow::before {
    content: '+'; }
  .sm-sport-blue a.highlighted .sub-arrow::before {
    content: '-'; }
  .sm-sport-blue li {
    border-top: 1px solid rgba(10, 161, 241, 0.2); }
  .sm-sport-blue > li:first-child {
    border-top: 0; }
  .sm-sport-blue ul {
    background: rgba(10, 161, 241, 0.2); }
    .sm-sport-blue ul a, .sm-sport-blue ul a:hover, .sm-sport-blue ul a:focus, .sm-sport-blue ul a:active {
      font-size: 13px;
      border-left: 8px solid transparent; }
    .sm-sport-blue ul ul a,
    .sm-sport-blue ul ul a:hover,
    .sm-sport-blue ul ul a:focus,
    .sm-sport-blue ul ul a:active {
      border-left: 16px solid transparent; }
    .sm-sport-blue ul ul ul a,
    .sm-sport-blue ul ul ul a:hover,
    .sm-sport-blue ul ul ul a:focus,
    .sm-sport-blue ul ul ul a:active {
      border-left: 24px solid transparent; }
    .sm-sport-blue ul ul ul ul a,
    .sm-sport-blue ul ul ul ul a:hover,
    .sm-sport-blue ul ul ul ul a:focus,
    .sm-sport-blue ul ul ul ul a:active {
      border-left: 32px solid transparent; }
    .sm-sport-blue ul ul ul ul ul a,
    .sm-sport-blue ul ul ul ul ul a:hover,
    .sm-sport-blue ul ul ul ul ul a:focus,
    .sm-sport-blue ul ul ul ul ul a:active {
      border-left: 40px solid transparent; }

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-sport-blue ul {
    position: absolute;
    width: 12em; }

  .sm-sport-blue li {
    float: left; }

  .sm-sport-blue.sm-rtl li {
    float: right; }

  .sm-sport-blue ul li, .sm-sport-blue.sm-rtl ul li, .sm-sport-blue.sm-vertical li {
    float: none; }

  .sm-sport-blue a {
    white-space: nowrap; }

  .sm-sport-blue ul a, .sm-sport-blue.sm-vertical a {
    white-space: normal; }

  .sm-sport-blue .sm-nowrap > li > a, .sm-sport-blue .sm-nowrap > li > :not(ul) a {
    white-space: nowrap; }

  /* ...end */
  .sm-sport-blue {
    border-top: 0;
    background: transparent; }
    .sm-sport-blue a, .sm-sport-blue a:hover, .sm-sport-blue a:focus, .sm-sport-blue a:active, .sm-sport-blue a.highlighted {
      padding: 11px 20px;
      color: #333;
      border-radius: 4px 4px 0 0; }
    .sm-sport-blue a:hover, .sm-sport-blue a:focus, .sm-sport-blue a:active {
      background: #0AA1F1;
      color: #fff; }
    .sm-sport-blue a.highlighted {
      background: #ceecfc;
      color: #333;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25); }
    .sm-sport-blue a.disabled {
      background: transparent;
      color: #cccccc;
      box-shadow: none; }
    .sm-sport-blue a.has-submenu {
      padding-right: 34px; }
    .sm-sport-blue a .sub-arrow {
      top: 50%;
      margin-top: -3px;
      right: 20px;
      width: 0;
      height: 0;
      border-width: 6px 4.02px 0 4.02px;
      border-style: solid dashed dashed dashed;
      border-color: #0AA1F1 transparent transparent transparent;
      background: transparent;
      border-radius: 0; }
    .sm-sport-blue a:hover .sub-arrow, .sm-sport-blue a:focus .sub-arrow, .sm-sport-blue a:active .sub-arrow {
      border-color: #fff transparent transparent transparent; }
    .sm-sport-blue a.highlighted .sub-arrow {
      border-color: #0AA1F1 transparent transparent transparent; }
    .sm-sport-blue a.disabled .sub-arrow {
      border-color: #0AA1F1 transparent transparent transparent; }
    .sm-sport-blue a .sub-arrow::before {
      display: none; }
    .sm-sport-blue li {
      border-top: 0; }
    .sm-sport-blue ul {
      border: 0;
      padding: 8px 0;
      background: #ceecfc;
      border-radius: 0 4px 4px 4px;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25); }
      .sm-sport-blue ul ul {
        border-radius: 4px; }
      .sm-sport-blue ul a, .sm-sport-blue ul a:hover, .sm-sport-blue ul a:focus, .sm-sport-blue ul a:active, .sm-sport-blue ul a.highlighted {
        border: 0 !important;
        padding: 10px 20px;
        color: #333;
        border-radius: 0; }
      .sm-sport-blue ul a:hover, .sm-sport-blue ul a:focus, .sm-sport-blue ul a:active, .sm-sport-blue ul a.highlighted {
        background: #0AA1F1;
        color: #fff;
        box-shadow: none; }
      .sm-sport-blue ul a.disabled {
        background: transparent;
        color: #b3b3b3; }
      .sm-sport-blue ul a.has-submenu {
        padding-right: 20px; }
      .sm-sport-blue ul a .sub-arrow {
        right: 10px;
        margin-top: -4.02px;
        border-width: 4.02px 0 4.02px 6px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #0AA1F1; }
      .sm-sport-blue ul a:hover .sub-arrow, .sm-sport-blue ul a:focus .sub-arrow, .sm-sport-blue ul a:active .sub-arrow, .sm-sport-blue ul a.highlighted .sub-arrow {
        border-color: transparent transparent transparent #fff; }
      .sm-sport-blue ul a.disabled .sub-arrow {
        border-color: transparent transparent transparent #0AA1F1; }
    .sm-sport-blue .scroll-up,
    .sm-sport-blue .scroll-down {
      position: absolute;
      display: none;
      visibility: hidden;
      overflow: hidden;
      background: #ceecfc;
      height: 20px; }
    .sm-sport-blue .scroll-up-arrow,
    .sm-sport-blue .scroll-down-arrow {
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 0 6px 8px 6px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #0AA1F1 transparent; }
    .sm-sport-blue .scroll-down-arrow {
      border-width: 8px 6px 0 6px;
      border-style: solid dashed dashed dashed;
      border-color: #0AA1F1 transparent transparent transparent; }
    .sm-sport-blue.sm-rtl a.has-submenu {
      padding-right: 20px;
      padding-left: 34px; }
    .sm-sport-blue.sm-rtl a .sub-arrow {
      right: auto;
      left: 20px; }
    .sm-sport-blue.sm-rtl.sm-vertical {
      border-right: 0;
      border-left: 2px solid #0AA1F1; }
      .sm-sport-blue.sm-rtl.sm-vertical a {
        border-radius: 0 4px 4px 0; }
        .sm-sport-blue.sm-rtl.sm-vertical a.has-submenu {
          padding: 10px 20px; }
        .sm-sport-blue.sm-rtl.sm-vertical a .sub-arrow {
          right: auto;
          left: 10px;
          border-width: 4.02px 6px 4.02px 0;
          border-style: dashed solid dashed dashed;
          border-color: transparent #0AA1F1 transparent transparent; }
        .sm-sport-blue.sm-rtl.sm-vertical a:hover .sub-arrow, .sm-sport-blue.sm-rtl.sm-vertical a:focus .sub-arrow, .sm-sport-blue.sm-rtl.sm-vertical a:active .sub-arrow, .sm-sport-blue.sm-rtl.sm-vertical a.highlighted .sub-arrow {
          border-color: transparent #fff transparent transparent; }
        .sm-sport-blue.sm-rtl.sm-vertical a.disabled .sub-arrow {
          border-color: transparent #0AA1F1 transparent transparent; }
    .sm-sport-blue.sm-rtl ul {
      border-radius: 4px 0 4px 4px; }
      .sm-sport-blue.sm-rtl ul a {
        border-radius: 0 !important; }
        .sm-sport-blue.sm-rtl ul a.has-submenu {
          padding: 10px 20px !important; }
        .sm-sport-blue.sm-rtl ul a .sub-arrow {
          right: auto;
          left: 10px;
          border-width: 4.02px 6px 4.02px 0;
          border-style: dashed solid dashed dashed;
          border-color: transparent #0AA1F1 transparent transparent; }
        .sm-sport-blue.sm-rtl ul a:hover .sub-arrow, .sm-sport-blue.sm-rtl ul a:focus .sub-arrow, .sm-sport-blue.sm-rtl ul a:active .sub-arrow, .sm-sport-blue.sm-rtl ul a.highlighted .sub-arrow {
          border-color: transparent #fff transparent transparent; }
        .sm-sport-blue.sm-rtl ul a.disabled .sub-arrow {
          border-color: transparent #0AA1F1 transparent transparent; }
    .sm-sport-blue.sm-vertical {
      border-bottom: 0;
      border-right: 2px solid #0AA1F1; }
      .sm-sport-blue.sm-vertical a {
        padding: 10px 20px;
        border-radius: 4px 0 0 4px; }
        .sm-sport-blue.sm-vertical a:hover, .sm-sport-blue.sm-vertical a:focus, .sm-sport-blue.sm-vertical a:active, .sm-sport-blue.sm-vertical a.highlighted {
          background: #0AA1F1;
          color: #fff;
          box-shadow: none; }
        .sm-sport-blue.sm-vertical a.disabled {
          background: transparent;
          color: #cccccc; }
        .sm-sport-blue.sm-vertical a .sub-arrow {
          right: 10px;
          margin-top: -4.02px;
          border-width: 4.02px 0 4.02px 6px;
          border-style: dashed dashed dashed solid;
          border-color: transparent transparent transparent #0AA1F1; }
        .sm-sport-blue.sm-vertical a:hover .sub-arrow, .sm-sport-blue.sm-vertical a:focus .sub-arrow, .sm-sport-blue.sm-vertical a:active .sub-arrow, .sm-sport-blue.sm-vertical a.highlighted .sub-arrow {
          border-color: transparent transparent transparent #fff; }
        .sm-sport-blue.sm-vertical a.disabled .sub-arrow {
          border-color: transparent transparent transparent #0AA1F1; }
      .sm-sport-blue.sm-vertical ul {
        border-radius: 4px !important; }
        .sm-sport-blue.sm-vertical ul a {
          padding: 10px 20px; } }

/*# sourceMappingURL=sm-sport-blue.css.map */
