@import url("https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,latin-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
  vertical-align: top;
  background: transparent;
  font-weight: normal;
  line-height: 1.5em; }

ol, ul {
  list-style: none; }

a, span {
  vertical-align: baseline; }

b, strong {
  font-weight: bold; }

i, dfn {
  font-style: italic; }

img {
  max-width: 100%; }

body {
  height: 100%;
  font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888888; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  font: normal 15px "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #292d39; }

p {
  margin: 15px 0;
  padding: 0; }

.page_heading {
  margin: 0;
  padding: 14px 20px;
  background: #ffffff;
  font-size: 15px; }

.page_heading a {
  font-weight: inherit;
  line-height: inherit; }

.template-index .page_heading,
.template-list-collections .page_heading {
  margin: 30px 0 0 0; }

a {
  color: #0AA1F1;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out; }
  a:hover {
    color: #023F60; }

#wrapper {
  position: relative;
  z-index: 1;
  background: #f4f4f4; }

#wrapper2 {
  overflow: hidden; }

header {
  display: block;
  background-color: #ffffff; }

.container {
  padding: 0; }

.container-small, .container-large {
  max-width: 100%; }

/* TOP NAVIGATION */
.main-nav {
  border-bottom: 2px solid #0AA1F1;
  background: #fff; }

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden; }

@media (min-width: 768px) {
  #main-menu > li:first-child > a.has-submenu {
    padding-right: 17px; } }
#main-menu > li:first-child > a:before {
  color: #ffffff !important;
  content: '\f0c9';
  font-family: FontAwesome;
  margin-right: 5px; }

#main-menu > li:first-child > a > span {
  display: none; }

#main-menu > li:first-child > a {
  width: 250px !important;
  background-color: #0AA1F1 !important;
  color: #ffffff; }

#main-menu > li:first-child a:hover {
  background-color: #023F60 !important; }

#main-menu {
  clear: both;
  border-bottom: 0; }

@media (min-width: 768px) {
  #main-menu {
    float: left;
    clear: none; } }
/* Mobile menu toggle button */
.main-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

/* hamburger icon */
.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #333;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0; }

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0; }

/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent; }

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
  display: none; }

#main-menu-state:checked ~ #main-menu {
  display: block; }

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px; }

  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block; } }
#main-menu {
  position: relative;
  z-index: 9999;
  width: 100%; }

#main-menu > .has-mega-menu {
  position: static !important; }

#main-menu .mega-menu {
  margin-left: 0 !important;
  right: 0 !important;
  width: auto !important;
  max-width: none !important; }

#main-menu > .has-mega-menu .scroll-up,
#main-menu > .has-mega-menu .scroll-down {
  margin-left: 0 !important; }

/* clear any floats inside the mega menus */
#main-menu .mega-menu > li {
  overflow: auto; }

/* reset mega menu list/link styles (which are inherited from the SmartMenus core/theme styles) */
#main-menu .mega-menu {
  color: #353451; }

#main-menu .mega-menu ul {
  position: static;
  display: block;
  margin: 0.83em 0;
  border: 0;
  padding: 0 0 0 20px;
  width: auto;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#main-menu .mega-menu ul li {
  display: list-item;
  list-style-type: disc;
  border: 0; }

#main-menu .mega-menu a {
  display: inline;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  text-decoration: underline; }

/* simple columns inside the mega menus */
#main-menu .mega-menu .column-1-3 {
  padding: 0 20px; }

.mega-menu {
  padding: 20px; }

.mega-menu .blog_date {
  margin: 0;
  font-size: 13px;
  color: #26a0d7; }

.mega-menu .blog_img {
  margin: 15px 0 0 0; }

.mega-menu .blog_title a {
  font-size: 18px !important;
  color: #ffffff; }

.mega-menu .blog_title a:hover {
  font-size: 18px !important;
  color: #26a0d7; }

@media (min-width: 768px) {
  #main-menu .mega-menu .column-1-3 {
    float: left;
    width: 33.33%; } }
/* MEDIA */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Extra Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* PROMOBANNER */
/* PROMOBANNER */
#promobanner {
  height: 160px;
  background: url(../img/promobanner-bg.png) 50% 0% no-repeat;
  background-color: #26a0d7;
  background-size: 1500px !important;
  background-position: right top !important;
  position: relative; }

#promobanner_close {
  display: block;
  vertical-align: top;
  color: #ffffff;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1000; }

#promobanner_close:before {
  content: '\f00d';
  font: 20px/1em 'FontAwesome'; }

#promobanner_close:hover {
  color: #292d39; }

.promobanner_container {
  width: 1600px;
  margin: 0 auto; }

.promobanner_error {
  height: 120px;
  font-size: 20px;
  line-height: 120px;
  color: #d10300;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }

.promobanner_content {
  width: 1100px;
  float: left; }

.promobanner_content img {
  float: left;
  height: 160px; }

.promobanner_text {
  min-width: 700px;
  float: left;
  text-align: center;
  text-transform: uppercase; }

.promobanner_text h2 {
  margin: 18px 0 0 0;
  font-weight: bold;
  font-size: 26px;
  color: #ffffff; }

.promobanner_text h3 {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff; }

.promobanner_text .btn {
  margin: 17px 0 0 0;
  padding: 7px 24px;
  background: #ffffff !important;
  border-color: #ffffff !important;
  font-weight: bold;
  font-size: 16px;
  color: #26a0d7 !important; }

.promobanner_text .btn:hover {
  background: #292d39 !important;
  border-color: #292d39 !important;
  color: #ffffff !important; }

.promobanner_counter {
  width: 500px;
  float: right;
  margin: 30px 0 0 0;
  text-align: right; }

.promobanner_countdown_labels {
  color: white;
  display: block;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase; }

/* < 1900px */
@media (min-width: 1900px) {
  #promobanner {
    -webkit-background-size: 100% auto;
    background-size: 100% auto; } }
/* < 1700px */
@media (max-width: 1700px) {
  .promobanner_container {
    width: 1170px; }

  .promobanner_content img {
    display: none; }

  .promobanner_content {
    width: 50%; }

  .promobanner_counter {
    width: 50%; } }
/* < 1200px */
@media (max-width: 1199px) {
  #promobanner {
    display: none !important; } }
/* NIVOSLIDER */
.nivoSlider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative; }
  .nivoSlider img {
    max-width: none;
    position: absolute;
    top: 0;
    left: 0; }
  .nivoSlider a.nivo-imageLink {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    filter: alpha(opacity=0);
    opacity: 0; }

.nivo-main-image {
  width: 100% !important;
  display: block !important;
  position: relative !important; }

.nivo-slice {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 5; }

.nivo-box {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 5; }
  .nivo-box img {
    display: block; }

.nivoSlider > a,
.nivoSlider > img,
.caption_hidden {
  display: none; }

.slider_wrap {
  height: 100%;
  margin: 30px 0 0 0;
  position: relative;
  z-index: 1; }

.nivo-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  display: none;
  background: none; }
  .nivo-caption a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none; }
  .nivo-caption .wrap_1 {
    width: 100%;
    height: 100%;
    display: table; }
  .nivo-caption .wrap_2 {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 30px 30px 485px; }
  .nivo-caption h3 {
    margin: 0;
    font-size: 19px;
    color: #26a0d7; }
  .nivo-caption p {
    margin: 8px 0 0 0;
    color: #888888; }
  .nivo-caption .btn {
    margin: 15px 0 0 0;
    padding: 9px 25px;
    font-size: 14px; }

.slider_controls {
  width: 100%;
  font-size: 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 10; }
  .slider_controls a {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    cursor: pointer; }

.slider_controls a ~ a {
  margin: 0 0 0 10px; }

.slider_controls a span {
  display: none; }

.slider_controls a:before {
  content: '\f111';
  display: block;
  font: 20px 'FontAwesome'; }

.slider_controls a:hover {
  color: #292d39; }

.slider_controls a.active {
  color: #292d39;
  cursor: default; }

.nivo-directionNav {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 9; }
  .nivo-directionNav .container {
    width: auto; }
  .nivo-directionNav a {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    background: #0AA1F1;
    font-size: 0;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .nivo-directionNav a:before {
    display: block;
    font: 15px/22px 'FontAwesome';
    color: #ffffff;
    text-align: center; }
  .nivo-directionNav a:hover {
    background: #023F60; }
  .nivo-directionNav .nivo-prevNav {
    position: relative;
    margin: 0 4px 0 0;
    padding: 0 1px 0 0; }
    .nivo-directionNav .nivo-prevNav:before {
      content: '\f104'; }
  .nivo-directionNav .nivo-nextNav {
    position: relative;
    padding: 0 0 0 1px; }
    .nivo-directionNav .nivo-nextNav:before {
      content: '\f105'; }

/* < 1200px */
@media only screen and (max-width: 1200px) {
  .nivo-caption .wrap_2 {
    padding: 30px 30px 30px 380px !important; }
  .nivo-caption .nivo-caption .btn {
    padding: 7px 15px; } }
/* < 992px */
@media only screen and (max-width: 992px) {
  .nivo-caption .wrap_2 {
    padding: 30px 30px 30px 300px !important; }

  .homepage_carousel .product {
    width: 292px !important; } }
/* < 768px */
@media only screen and (max-width: 768px) {
  .nivo-caption .wrap_2 {
    padding: 30px 30px 30px 52% !important; } }
/* < 480px */
@media only screen and (max-width: 480px) {
  .nivo-caption {
    display: none !important; } }
/* BXSLIDER */
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

/* FEATURED BXSLIDER */
/* SIDEBAR */
/* SIDEBAR */
.sidebar_widget {
  margin: 30px 0 0 0;
  background-color: #ffffff; }

.sidebar_widget .widget_header {
  margin: 0;
  padding: 14px 20px;
  background: #ffffff;
  font-size: 15px; }

.sidebar_widget .widget_content {
  padding: 5px; }

.list_links {
  margin: 30px 0 0 0; }

.list_links li a {
  display: block;
  padding: 12px 20px;
  background: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  color: #292d39; }

.list_links li ~ li a {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.list_links li a:after {
  content: '\f105';
  vertical-align: middle;
  float: right;
  margin: 0 0 0 7px;
  font: 14px/1.2em 'FontAwesome';
  opacity: .3; }

.list_links li.active a {
  font-weight: bold;
  color: #26a0d7; }

.list_links li a:hover {
  color: #26a0d7;
  text-decoration: none; }

.sidebar_widget__collections {
  margin: -60px 0 0 0; }

.sidebar_widget__collections .widget_header {
  height: 60px;
  padding: 0 20px;
  background: #26a0d7;
  font-size: 19px;
  line-height: 60px;
  color: #ffffff;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.sidebar_widget__collections .list_links {
  margin: 0; }

.sidebar_widget__collections .widget_header:before {
  content: '\f0c9';
  margin: 0 10px 0 0;
  font: 21px 'FontAwesome'; }

/* SIDEBAR PRODUCT LISTING */
.list_products .product {
  overflow: hidden;
  margin: 30px 0 0 0;
  padding: 20px;
  background: #ffffff; }

.list_products .product_img {
  width: 80px;
  float: left; }

.list_products .product_info {
  margin: 0 0 0 95px; }

.list_products .product_price {
  font-size: 19px;
  color: #26a0d7; }

.list_products .product_price .compare-at-price {
  font-weight: 300;
  font-size: 14px;
  color: #888888; }

.list_products .product_name {
  padding: 3px 0 0 0; }

.list_products .product_links {
  padding: 10px 0 0 0; }

.list_products .product_links .btn {
  width: 38px;
  height: 38px;
  margin: 0 6px 0 0;
  padding: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.list_products .product_links .btn i {
  display: block;
  font-size: 18px;
  line-height: 35px; }

/* 9.3 SIDEBAR BLOG WIDGETS */
.list_articles li {
  margin: 30px 0 0 0; }

.list_articles .item_title {
  margin: 0;
  font-size: 14px; }

.list_articles .item_content {
  margin: 10px 0 0 0; }

.list_articles .article_comments__link {
  margin: 10px 0 0 0; }

.list_comments li {
  margin: 30px 0 0 0; }

.list_comments a {
  display: block;
  overflow: hidden;
  padding: 15px 15px 15px 0;
  background: #f2f2f2; }

.list_comments .item_quot {
  width: 50px;
  vertical-align: top;
  float: left;
  font-size: 60px;
  line-height: 1em;
  color: #26a0d7;
  text-align: center; }

.list_comments .item_content {
  display: block;
  margin: 0 0 0 50px;
  color: #888888;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out; }

.list_comments a:hover .item_content {
  color: #26a0d7; }

.list_comments .item_author {
  display: block;
  overflow: hidden;
  padding: 7px 0 0 0;
  color: #888888; }

.list_comments .item_author:before {
  content: '\f007';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.list_comments .item_author span {
  float: right;
  margin: 0 0 0 15px; }

.list_comments .item_author span:before {
  content: '\f017';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.filter-checkboxlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2; }
  .filter-checkboxlist label {
    margin: 0;
    padding: 0;
    line-height: normal; }
    .filter-checkboxlist label input {
      margin: 0;
      margin-right: 3px; }
    .filter-checkboxlist label .filter_doc_count {
      font-size: 8px;
      margin-left: 2px; }

.menu-title button {
  display: block;
  float: right; }
  .menu-title button:before {
    font-family: fontAwesome;
    content: "\f002"; }

/* < 1200px */
@media (max-width: 1199px) {
  /* SIDEBAR PRODUCT LISTING */
  .list_products .product_img {
    width: 100%;
    float: none;
    text-align: center; }

  .list_products .product_info {
    margin: 10px 0 0 0; }

  /* SIDEBAR BLOG WIDGETS */
  /*.list_comments .item_author span {display: block;float: none;margin: 5px 0 0 0;}*/
  .list_comments .item_author {
    margin: 0 0 0 50px; }

  .list_comments .item_author span {
    display: block;
    float: none;
    margin: 0;
    padding: 7px 0 0 0; } }
/* < 767px */
@media (max-width: 767px) {
  /* LINKS LIST */
  .sidebar_widget__collections {
    margin: 30px 0 0 0; }

  /* SIDEBAR PRODUCT LISTING */
  .list_products .product_img {
    width: 100px;
    float: left; }

  .list_products .product_info {
    margin: 0 0 0 115px; } }
/* PRODUCT */
.link-red {
  color: red; }
  .link-red:hover {
    color: #8F0808; }

.product_manage {
  margin-top: 10px;
  text-align: center; }

.product_listing_main .product_wrapper {
  margin: 30px 0 0 0;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e7e7e7; }

.product_listing_main .product_img a {
  display: block;
  position: relative; }

.product_listing_main .product_img img {
  background-color: #ffffff;
  position: relative;
  z-index: 1; }

.product_listing_main .product_img .img__2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0; }

.product_listing_main .product_img span.product_badge {
  height: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  background: #292d39;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  text-transform: capitalize;
  position: absolute;
  top: -34px;
  z-index: 10; }

.product_listing_main .product_img span.product_badge:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  margin: 0 0 0 -4px;
  border: 4px solid transparent;
  border-top-color: #292d39;
  position: absolute;
  left: 50%;
  bottom: -8px; }

.product_listing_main .product_img span.new {
  left: 0; }

.product_listing_main .product_img span.sale {
  background: #26a0d7;
  right: 0; }

.product_listing_main .product_img span.sale:after {
  border-top-color: #26a0d7; }

.product_listing_main .product_price {
  padding: 15px 0 0 0;
  font-size: 19px;
  color: #26a0d7; }

.product_listing_main .product_price .money {
  margin: 0 3px 0 0; }

.product_listing_main .product_price .money_sale {
  font-size: 15px;
  color: #888888; }

.product_listing_main .product_desc {
  padding: 3px 0 0 0; }

.product_listing_main .product_desc_long {
  display: none; }

.product_listing_main .product_links {
  padding: 10px 0 0 0;
  font-size: 0; }

.product_listing_main .product_links form {
  display: inline-block; }

.product_listing_main .product_links .btn {
  width: 38px;
  height: 38px;
  margin: 0 6px 0 0;
  padding: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.product_listing_main .product_links .btn i {
  display: block;
  font-size: 18px;
  line-height: 35px; }

/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.featured_products .bx-wrapper {
  max-width: 100% !important; }

.featured_products .bx-controls {
  position: absolute;
  right: 15px;
  top: -32.5px;
  z-index: 99; }

.featured_products .bx-controls a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 0;
  color: #292d39;
  text-align: center; }

.featured_products .bx-controls a:hover {
  color: #26a0d7; }

.featured_products .bx-controls a:before {
  display: block;
  font: 17px/18px 'FontAwesome'; }

.featured_products .bx-prev:before {
  content: '\f104';
  padding: 0 1px 0 0; }

.featured_products .bx-next:before {
  content: '\f105';
  padding: 0 0 0 1px; }

.product_homepage {
  width: 300px !important;
  margin: 0; }

/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection.item3_1 {
  clear: left; }

.view_list .product {
  width: 100%;
  float: none;
  overflow: hidden; }

.view_list .product_img {
  width: 200px;
  float: left; }

.view_list .product_info {
  margin: 0 0 0 215px; }

.view_list .product_price {
  padding: 0; }

.view_list .product_name {
  padding: 5px 0 0 0; }

.view_list .product_desc {
  display: none; }

.view_list .product_desc_long {
  display: block;
  padding: 5px 0 0 0; }

.money_sale, .compare-at-price {
  color: #888888;
  text-decoration: line-through; }

/* PRODUCTS SORTING */
.product_listing_controls {
  overflow: hidden;
  margin: 30px 0 0 0;
  padding: 0 10px 10px 10px;
  background: #ffffff;
  border: 1px solid #f2f2f2; }
  .product_listing_controls select {
    padding: 2px !important; }

.product_listing_toggle {
  float: left;
  font-size: 0; }

.product_listing_toggle li {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid transparent;
  color: #888888;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out; }

.product_listing_toggle li.active {
  background: #26a0d7;
  border-color: #26a0d7;
  color: #ffffff;
  cursor: default; }

.product_listing_toggle li i {
  font-size: 18px;
  line-height: 29px; }

.sort_by {
  float: right;
  margin: 10px 0 0 10px; }

.sort_by label {
  margin: 0 4px 0 0;
  line-height: 30px; }

.sort_by select {
  width: auto !important;
  height: 30px;
  display: inline-block;
  padding: 5px 4px;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0; }

.show_products {
  float: right;
  margin: 10px 0 0 10px; }

.show_products label {
  margin: 0 4px 0 0;
  line-height: 30px; }

.show_products select {
  width: auto !important;
  height: 30px;
  display: inline-block;
  padding: 5px 4px;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0; }

#product_listing_preloader {
  position: relative; }

#product_listing_preloader p {
  width: 100%;
  height: 32px;
  background: url(//cdn.shopify.com/s/files/1/0980/5368/t/2/assets/bx_loader.gif?6616382186379510295) 50% 0 no-repeat;
  position: absolute;
  left: 0;
  top: 0; }

.quantity_box {
  display: inline-block;
  margin: 10px 10px 0 0; }

.quantity_box input {
  width: 54px;
  height: 24px;
  display: block;
  padding: 0;
  background: #ffffff;
  border: 2px solid #e7e7e7 !important;
  font-size: 15px;
  text-align: center;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.quantity_box .quantity_modifier {
  width: 26px;
  height: 24px;
  display: block;
  float: left;
  background: #ffffff;
  border: 2px solid #e7e7e7;
  text-align: center;
  cursor: pointer; }

.quantity_box .quantity_modifier:active {
  color: #26a0d7; }

.quantity_box .quantity_modifier i {
  font-size: 14px;
  line-height: 22px; }

.quantity_box .quantity_down {
  margin: 2px 0 0 0;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px; }

.quantity_box .quantity_up {
  margin: 2px 0 0 2px;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0; }

#purchase #add-to-cart {
  height: 50px;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 18px; }

/* < 1200px */
@media (max-width: 1199px) {
  product_listing_main .product_wrapper {
    padding: 15px; }

  .product_listing_main .product_img span.product_badge {
    top: -29px; }

  /* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
  .product_homepage {
    width: 250px !important; } }
/* < 991px */
@media (max-width: 991px) {
  /* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
  .homepage_carousel .product {
    width: 292px !important; } }
/* < 767px */
@media (max-width: 767px) {
  .product_listing_main .product_img {
    width: 120px;
    float: left; }

  .product_listing_main .product_info {
    margin: 0 0 0 135px; }

  .product_listing_main .product_price {
    padding: 0; }

  .product_listing_main .quick_view_btn {
    display: none !important; }

  /* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
  .featured_products .bx-wrapper {
    max-width: 767px !important; }

  .featured_products .bx-viewport {
    height: auto !important; }

  .featured_products .bx-controls {
    display: none !important; }

  .homepage_carousel {
    width: 100% !important;
    max-width: 767px !important;
    margin: 0; }

  .homepage_carousel .product {
    width: 100% !important;
    float: none;
    padding: 0; }

  .homepage_carousel .product.bx-clone {
    display: none; }

  /* COLLECTION PRODUCT LISTING (GRID/LIST) */
  .product_listing_toggle {
    display: none !important; }

  .show_products {
    float: left;
    margin: 10px 10px 0 0; } }
/* < 480px */
@media (max-width: 480px) {
  .product_listing_main .product_desc {
    display: none !important; }

  .product_listing_controls {
    text-align: center; }

  .products_count {
    float: none;
    margin: 10px 0 0 0; }

  #pagination {
    float: none;
    margin: 10px 0 0 0; } }
/* FOOTER */
footer {
  margin: 30px 0 0 0;
  background: #292d39; }

footer h3 {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  color: #ffffff; }

.footer_row__1 h3 {
  padding: 40px 0 0 0; }

.footer_block__1 p {
  margin: 15px 0 0 0;
  font-size: 12px;
  line-height: 1.6em; }

.footer_block__2 ul li {
  margin: 15px 0 0 0; }

.footer_block__2 ul li a {
  color: #888888; }

.footer_block__2 ul li i {
  vertical-align: middle;
  margin: 0 5px 0 0;
  font-size: 14px;
  color: #26a0d7;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out; }

.footer_block__2 ul li span {
  color: #26a0d7;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out; }

.footer_block__2 ul li a:hover,
.footer_block__2 ul li a:hover i,
.footer_block__2 ul li a:hover span {
  color: #ffffff; }

.footer_row__2 {
  margin: 35px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.footer_row__2 h3 {
  padding: 30px 0 0 0; }

.footer_row__2 ul {
  padding: 5px 0 0 0; }

.footer_row__2 ul li {
  padding: 9px 0 0 0; }

.footer_row__2 ul li a {
  color: #26a0d7; }

.footer_row__2 ul li a:hover {
  color: #ffffff; }

.footer_block__6 a {
  color: #888888; }

.footer_block__6 a i {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #26a0d7;
  text-align: center; }

.footer_block__6 a:hover {
  color: #ffffff; }

footer .copyright {
  margin: 30px 0 0 0;
  padding: 20px 0 38px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

footer .copyright p {
  margin: 0; }

footer .copyright a {
  color: #888888; }

footer .copyright a:hover {
  color: #ffffff; }

/* BACK TO TOP BUTTON */
#back_top {
  text-decoration: none;
  width: 38px;
  height: 38px;
  display: block;
  margin: 0 0 0 615px;
  background: #26a0d7;
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 50px;
  z-index: 999;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

#back_top:before {
  content: '\f106';
  font: 18px/37px 'FontAwesome'; }

#back_top:hover {
  background: #292d39;
  -webkit-box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.25); }

/* < 1200px */
@media (max-width: 1199px) {
  #back_top {
    margin: 0 0 0 455px; } }
/* < 991px */
@media (max-width: 991px) {
  #back_top {
    margin: 0 0 0 345px; } }
/* < 767px */
@media (max-width: 767px) {
  #back_top {
    display: none !important; }

  .footer_row__1 h3,
  .footer_row__2 h3 {
    padding: 30px 0 0 0; }

  .footer_block__5 {
    clear: left; }

  footer .container {
    padding-left: 10px;
    padding-right: 10px; } }
/* < 480px */
@media (max-width: 480px) {
  .footer_row__2 .footer_block {
    width: 100%;
    float: none;
    clear: both; } }
/* BLOG */
.article_date {
  width: 70px;
  float: left;
  cursor: default; }

.article_date .date_1 {
  width: 70px;
  height: 70px;
  display: block;
  background: #ffffff;
  font-weight: bold;
  font-size: 46px;
  line-height: 69px;
  color: #26a0d7;
  text-align: center;
  letter-spacing: -3px; }

.article_date .date_2 {
  width: 70px;
  height: 30px;
  display: block;
  background: #26a0d7;
  font-size: 11px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

.article_comments__link {
  display: inline-block; }

.article_comments__link:before {
  content: '\f086';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.article_body {
  margin: 0 0 0 100px; }

.blog_tags {
  margin: 20px 0 0 0;
  font-size: 0; }

.blog_tags a {
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  background: #ffffff;
  font-size: 12px;
  color: #888888; }

.blog_tags a:before {
  content: '\f02b';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.blog_tags a:hover {
  background: #26a0d7;
  color: #ffffff; }

.blog_tags a:hover:before {
  color: #ffffff; }

.blog_tags a.tag_active {
  background: #26a0d7;
  color: #ffffff !important;
  cursor: default; }

.blog_tags a.tag_active:before {
  color: #ffffff; }

/* POSTS LISTING */
.blog_listing__article {
  margin: 30px 0 0 0; }

.blog_listing__article ~ .blog_listing__article {
  margin: 50px 0 0 0; }

.article_header h3 {
  margin: 0;
  font-size: 16px; }

.article_header p {
  margin: 10px 0 0 0; }

.article_header .article_header__author {
  margin: 0 15px 0 0; }

.article_header .article_header__author:before {
  content: '\f007';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.article_content {
  margin: 30px 0 0 0; }

.article_footer .btn {
  margin: 30px 0 0 0; }

.blog_listing .product_listing_controls {
  margin: 40px 0 0 0; }

/* SINGLE POST */
.blog_article {
  padding: 30px 0 0 0; }

.blog_article .article_footer .addthis_sharing_toolbox {
  margin: 25px 0 0 0; }

.blog_article .article_footer .addthis_sharing_toolbox a {
  vertical-align: top;
  margin: 5px 5px 0 0; }

.blog_article .article_pagination {
  overflow: hidden;
  margin: 15px 0 0 0; }

.blog_article .article_pagination .article_prev {
  float: left;
  margin: 15px 15px 0 0; }

.blog_article .article_pagination .article_prev:before {
  content: '\f060';
  margin: 0 10px 0 0;
  font: 14px 'FontAwesome'; }

.blog_article .article_pagination .article_next {
  float: right;
  margin: 15px 0 0 0; }

.blog_article .article_pagination .article_next:after {
  content: '\f061';
  margin: 0 0 0 10px;
  font: 14px 'FontAwesome'; }

.blog_article .article_comments {
  margin: 30px 0 0 0;
  border-top: 1px solid #e7e7e7; }

.blog_article .article_comments h3 {
  margin: 30px 0 0 0; }

.article_comments__list li {
  margin: 30px 0 0 0;
  padding: 20px;
  background: #f2f2f2; }

.article_comments__list li ~ li {
  margin: 20px 0 0 0; }

.article_comments__list .comment_author {
  overflow: hidden;
  margin: 0;
  color: #26a0d7; }

.article_comments__list .comment_author:before {
  content: '\f007';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome'; }

.article_comments__list .comment_author span {
  float: right;
  margin: 0 0 0 15px; }

.article_comments__list .comment_content {
  margin: 10px 0 0 0; }

.article_comments__form {
  margin: 30px 0 0 0;
  border-top: 1px solid #e7e7e7; }

.article_comments__form h3 {
  margin: 30px 0 0 0; }

.article_comments__form .btn {
  margin: 15px 0 0 0; }

.blog-posts-item {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #eee; }

#comments .comment-item .comment-reply {
  color: #337ab7;
  text-decoration: none;
  border-bottom: 1px dotted #337ab7;
  cursor: pointer; }

#comments .margin {
  margin-left: 40px; }

#comments .comment-item .comment-item .comment-item .comment-item .comment-item .margin {
  margin-left: 0; }

.comment-user {
  /*font-weight: bold;*/ }

.comment-user:before {
  content: '\f007';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #26a0d7; }

.comment-content {
  font-size: 14px; }

.blog_menu_image {
  margin-top: 10px;
  height: 170px;
  background-position: center center;
  background-size: cover; }

/* < 768px */
@media (max-width: 767px) {
  /* POSTS LISTING */
  .article_header__title {
    float: none;
    margin: 0; }

  .article_header__comments {
    float: none; }

  .article_footer__tags,
  .article_footer__right {
    float: none;
    margin: 15px 0 0 0; }

  /* SINGLE POST */
  .article_comments__list .comment_author span {
    display: block;
    float: none;
    margin: 5px 0 0 0; } }
/* < 480px */
@media (max-width: 480px) {
  /* POSTS LISTING */
  .blog_listing__article .article_body {
    margin: 0; }

  .blog_listing__article .article_header {
    margin: 0 0 0 100px; }

  .blog_listing__article .article_content {
    clear: both;
    padding: 15px 0 0 0; } }
/* RIBBON */
/* PRODUCT LABELS */
.ribbon {
  position: absolute;
  left: 10px;
  top: 25px;
  z-index: 20;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right; }

@media (max-width: 767px) {
  .ribbon {
    left: 10px;
    top: -5px; }

  .view_list .ribbon {
    left: 10px;
    top: 25px; } }
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  position: absolute;
  top: 19px;
  left: -21px; }

/* Discount Sale */
.ribbon_3 span, .ribbon_2 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_3 span::before, .ribbon_2 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808; }

.ribbon_3 span::after, .ribbon_2 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808; }

/* New */
.ribbon_1 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_1 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A; }

.ribbon_1 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A; }

/* Bestseller Best price */
.ribbon_4 span, .ribbon_5 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #8F5408 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_4 span::before, .ribbon_5 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408; }

.ribbon_4 span::after, .ribbon_5 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408; }

/* Product day, Popular */
.ribbon_7 span, .ribbon_8 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_7 span::before, .ribbon_8 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799; }

.ribbon_7 span::after, .ribbon_8 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799; }

/* Hot deal, recommended */
.ribbon_6 span, .ribbon_10 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#F7E64A 0%, #A7820A 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_6 span::before, .ribbon_10 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #A7820A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A7820A; }

.ribbon_6 span::after, .ribbon_10 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #A7820A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #A7820A; }

/* Promo */
.ribbon_9 span {
  color: #FFF;
  background: #79A70A;
  background: linear-gradient(#F74ADA 0%, #9D0AA7 100%);
  box-shadow: 0 3px 10px -5px black; }

.ribbon_9 span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #9D0AA7;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #9D0AA7; }

.ribbon_9 span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #9D0AA7;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #9D0AA7; }

/* TABLE TEMPLATE */
.cart_list {
  width: 100%;
  max-width: 100%;
  margin: 30px 0 0 0;
  background: #ffffff; }
  .cart_list th {
    padding: 10px 10px;
    background: #007ab2;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  .cart_list td {
    padding: 20px;
    border: 1px solid #e7e7e7; }

/* CART */
.cart_page .page_heading #cart_loader {
  width: 44px;
  height: 44px;
  display: block;
  margin: 0 0 0 -22px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNrs2TEKwkAUhOEXBSurQM5jo2AbyG2EgIfyCkKqXEDiGYI2QkBn5aXYYBqb7MAM/Ft/LNutWbwtqtEVDei9UIMbajf93A51CyLn6twWrUwQOq0csTl6EICDMV/jOKG9pb+Nv21rCW53rM1wvFzPsD5zOc1WRjaBBRZYYIEFFlhggQUWWGCBBRZYYIEFFvh/cE/kfQbwnQh8C+ALEfhrLYznU6YY5RUBuJpe98HS/Vg8zr2R8E16Rk0C0MYt0dftR4ABAFfva4h/thfHAAAAAElFTkSuQmCC") 0 0 no-repeat;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.cart_page .page_heading #cart_loader:after {
  content: '';
  width: 44px;
  height: 44px;
  display: block;
  background: url("fancybox_loading.gif") 50% 50% no-repeat; }

.cart_page .page_heading #cart_loader.loading {
  top: 60px;
  opacity: 1; }

.cart_list .cart_price {
  font-size: 16px;
  text-align: right; }

.cart_item__img {
  width: 140px;
  float: left; }

.cart_item__info {
  margin: 0 0 0 160px; }

.cart_item__name {
  margin: 0; }

.cart_item__variant {
  margin: 15px 0 0 0;
  font-size: 12px;
  color: #26a0d7; }

.cart_item__details {
  margin: 10px 0 0 0; }

.cart_item__details p {
  margin: 5px 0 0 0;
  color: #26a0d7; }

.cart_item__details p span {
  color: #292d39; }

.cart_item .quantity_box {
  width: 88px;
  height: 24px;
  margin: 0;
  position: relative; }

.cart_item .quantity_box input {
  width: 40px;
  position: absolute;
  left: 24px;
  top: 0; }

.cart_item .quantity_box .quantity_down {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px; }

.cart_item .quantity_box .quantity_up {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0; }

.cart_item .cart_update {
  width: 88px;
  display: block;
  margin: 5px 0 0 0; }

.cart_item__remove {
  font-size: 14px; }

.cart_item__remove i {
  vertical-align: baseline; }

.cart_list .cart_buttons .btn {
  float: right;
  margin: 0 0 0 20px; }

.cart_list .cart_buttons .btn-alt {
  float: none;
  margin: 0; }

.cart_list .cart_buttons .btn:before {
  margin: 0 7px 0 0;
  font: 14px 'FontAwesome'; }

.cart_list .cart_buttons .cart_continue:before {
  content: '\f060'; }

.cart_list .cart_buttons .cart_update:before {
  content: '\f021'; }

.cart_list .cart_buttons #cart_clear:before {
  content: '\f1f8'; }

.cart_list .cart_summary .cart_summary__row {
  margin: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e7e7e7;
  font-size: 18px;
  color: #292d39; }

.cart_list .cart_summary .cart_summary__row ~ .cart_summary__row {
  padding: 10px 0; }

.cart_list .cart_summary .cart_summary__row span {
  float: right; }

.cart_list .cart_summary .cart_summary__notification {
  margin: 20px 0 0 0; }

.cart_list .cart_summary .cart_summary__instructions {
  margin: 15px 0 0 0; }

.cart_list .cart_summary .cart_summary__instructions label {
  display: block;
  padding: 0 0 3px 0;
  font-weight: normal;
  color: #292d39; }

.cart_list .cart_summary .cart_summary__instructions textarea {
  width: auto !important;
  height: 100px !important;
  max-width: 100% !important;
  resize: none; }

.cart_list .cart_summary .cart_summary__checkout button {
  float: right;
  margin: 20px 0 0 10px;
  padding: 10px 20px;
  font-size: 16px; }

.cart_list .cart_summary .cart_summary__checkout a.checkout_button {
  float: right;
  margin: 20px 0 0 10px;
  padding: 10px 20px;
  font-size: 16px; }

.order_button {
  float: right;
  margin: 20px 0 0 10px;
  padding: 10px 20px;
  font-size: 16px; }

.cart_list .cart_summary .cart_summary__methods {
  float: left; }

.cart_list .cart_summary .cart_summary__methods li {
  float: left;
  margin: 20px 10px 0 0; }

/* EMPTY CART NOTIFICATION */
.cart_empty h3 a {
  font-weight: inherit;
  text-decoration: underline; }

.cart_empty h3 a:hover {
  text-decoration: none; }

/* < 767px */
@media (max-width: 767px) {
  .cart_list {
    border: 1px solid #e7e7e7;
    border-width: 0 1px 1px 1px; }

  .cart_list th {
    display: none; }

  .cart_list tbody td {
    display: block;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    text-align: left !important; }

  .cart_list tbody td.cell_1 {
    border-width: 1px 0; }

  .cart_list tbody td.cell_2 {
    width: 140px;
    float: left;
    padding: 10px; }

  .cart_list tbody td.cell_3 {
    width: 98px;
    float: left;
    padding: 10px 10px 10px 0; }

  .cart_list tbody td.cell_4 {
    float: left;
    padding: 10px 10px 10px 0; }

  .cart_list tbody td.cell_5 {
    float: right;
    padding: 10px 10px 10px 0; }

  .cart_item__img {
    width: 140px;
    padding: 10px; }

  .cart_item__info {
    margin: 0 0 0 140px;
    padding: 10px 10px 10px 0; }

  .cart_list .cart_buttons td {
    padding: 0 20px 20px 20px; }

  .cart_list .cart_buttons .btn {
    margin-top: 20px; }

  .cart_list .cart_summary .cart_summary__checkout {
    text-align: center; }

  .cart_list .cart_summary .cart_summary__checkout button {
    float: none;
    margin: 20px 0 0 0; }

  .cart_list .cart_summary .cart_summary__methods {
    float: none;
    font-size: 0; }

  .cart_list .cart_summary .cart_summary__methods li {
    display: inline-block;
    float: none;
    margin: 20px 10px 0 10px; } }
/* < 480px */
@media (max-width: 480px) {
  .cart_list tbody td.cell_2 {
    width: 120px; }

  .cart_item__img {
    width: 120px; }

  .cart_item__info {
    margin: 0 0 0 120px; }

  .cart_list .cart_buttons td {
    text-align: center; }

  .cart_list .cart_buttons .btn {
    width: 100%;
    display: block;
    float: none;
    margin: 20px 0 0 0; } }
/* ACCOUNT */
.account_wrapper {
  width: 100%;
  height: 100%;
  display: table;
  margin: 30px 0 0 0; }

.account_wrapper .account_left {
  width: 50%;
  height: 100%;
  display: table-cell;
  padding: 0 15px 0 0; }

.account_wrapper .account_right {
  width: 50%;
  height: 100%;
  display: table-cell;
  padding: 0 0 0 15px; }

.account_wrapper .account_section {
  width: 100%;
  height: 100%;
  margin: 0; }

#account_login .account_left ul {
  margin: 10px 0 0 0; }

#account_login .account_left .signup_feature ul li {
  margin: 5px 0 0 0;
  color: #292d39;
  text-transform: uppercase; }

#account_login .account_left .signup_feature ul li:before {
  content: '\f00c';
  margin: 0 7px 0 0;
  font: 14px 'FontAwesome';
  color: #26a0d7; }

#account_login .account_left .btn {
  margin-top: 15px; }

#account_login .account_left .social_login {
  margin-top: 10px; }

#account_guest {
  margin: 30px 0 0 0; }

#account_guest .btn {
  margin-top: 15px; }

/* < 767px */
@media (max-width: 767px) {
  .account_wrapper {
    display: block;
    margin: 0; }

  .account_wrapper .account_left {
    width: 100%;
    height: auto;
    display: block;
    padding: 0; }

  .account_wrapper .account_right {
    width: 100%;
    height: auto;
    display: block;
    padding: 0; }

  .account_wrapper .account_section {
    margin: 30px 0 0 0; } }
/* < 640px */
@media (max-width: 640px) {
  .account_wrapper .account_section {
    margin: 15px 0 0 0; } }
/* CONTACTS */
.contact-scope #google_map {
  margin: 15px 0; }

#contact_page #google_map {
  width: 100%;
  margin: 15px 0;
  border: 1px solid #e7e7e7; }

.contact-form textarea {
  width: 100%; }

/* COMPONENTS */
label {
  font-size: 13px;
  color: #292d39; }

select,
select.form-control,
textarea,
textarea.form-control,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="telephone"] {
  padding: 6px;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none; }

select,
select.form-control {
  padding: 8px 3px; }

textarea,
textarea.form-control {
  min-width: 100%;
  max-width: 100%; }

select:focus,
select.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="telephone"]:focus {
  border-color: #aaa;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd; }

input[type="radio"],
input[type="checkbox"],
.form-group {
  vertical-align: top !important;
  margin-top: 15px;
  margin-bottom: 0; }

.form-horizontal label {
  padding-top: 0 !important;
  text-align: right;
  line-height: 34px; }

.form-horizontal select {
  width: 100%; }

.action_bottom span.note {
  margin-left: 5px; }

.action_bottom span.note a {
  margin-left: 5px; }

/* 5.2 ALERTS & NOTIFICATIONS */
.alert {
  margin: 15px 0;
  padding: 12px;
  font-weight: normal;
  font-size: 14px;
  -webkit-border-radius: 0;
  border-radius: 0; }

.alert p {
  margin: 0; }

.alert a {
  font-weight: bold;
  text-decoration: underline; }

.alert a:hover {
  text-decoration: none; }

.alert ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0; }

.alert ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0; }

.alert > p + p,
.alert > ul + ul {
  margin: 10px 0 0 0; }

.alert-success {
  background-color: #dff0d8;
  color: #1e892a; }

.alert-success a {
  color: #1e892a; }

.alert-info {
  background-color: #cfedfc;
  color: #267abe; }

.alert-info a {
  color: #267abe; }

.alert-warning {
  background-color: #fff5c7;
  color: #c87100; }

.alert-warning a {
  color: #c87100; }

.alert-danger,
.alert-error {
  background-color: #ffcccc;
  color: #d10300; }

.alert-danger a,
.alert-error a {
  color: #d10300; }

.alert-form {
  border-color: #d10300 !important; }

.alert-form-info {
  display: none;
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #d10300; }

.notify_success {
  color: #1e892a; }

.notify_info {
  color: #267abe; }

.notify_warning {
  color: #c87100; }

.notify_danger {
  color: #d10300; }

/* HEADER TABLE */
.header-table {
  display: table;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0; }

.header-table .column {
  display: table-cell;
  vertical-align: top;
  padding: 20px; }

.header-table .left-box {
  width: 270px;
  text-align: left;
  padding: 0;
  vertical-align: middle; }

.header-table .center-box {
  width: auto;
  padding: 0 10px;
  vertical-align: middle; }

.header-table .right-box {
  width: 250px;
  text-align: right;
  padding: 0;
  vertical-align: middle; }
  .header-table .right-box .phone-number {
    color: #0AA1F1; }
    .header-table .right-box .phone-number span {
      font-size: 20px;
      color: #555555; }

/* SOCIAL*/
.social-channels {
  margin: 12px 0;
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
  float: right;
  border-right: solid 1px #cccccc; }
  .social-channels a {
    display: inline-block;
    margin-right: 3px;
    text-decoration: none; }

/* PRIVATE */
.private-links {
  margin: 10px 0;
  text-align: right;
  font-size: 12px;
  float: right; }
  .private-links a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none; }
    .private-links a i {
      margin: 3px 5px;
      color: #0AA1F1; }

/* BUTTONS */
.btn-blue {
  background: #0AA1F1;
  color: #FFFFFF;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* !important tags aren't necessarily always bad */ }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background: #023F60;
    color: #FFFFFF; }

.btn-red {
  background: red;
  color: #FFFFFF;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* !important tags aren't necessarily always bad */ }
  .btn-red:hover, .btn-red:focus, .btn-red:active {
    background: #8F0808;
    color: #FFFFFF; }

/* LEFT MENU */
.menu-title {
  background-color: #0AA1F1;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.left-box {
  width: 250px; }

.left-box li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ffffff; }
  .left-box li a {
    text-decoration: none;
    display: block;
    line-height: 1.2em; }
    .left-box li a span {
      font-size: 8px;
      color: #aaa;
      font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .left-box li a:hover {
      color: #023F60; }

.left-box li.active a {
  font-weight: bold;
  color: #333333 !important; }

.left-box li.active a:hover {
  color: #0AA1F1 !important;
  text-decoration: none; }

.category_links li ~ li a, .types_links li ~ li a {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.category_links li a, .types_links li a {
  padding: 12px 20px; }
  .category_links li a:after, .types_links li a:after {
    content: '\f105';
    vertical-align: middle;
    float: right;
    margin: 0 0 0 7px;
    font: 14px/1.2em 'FontAwesome';
    opacity: .3; }

/* BREADCRUMBS */
.breadcrumb_wrap {
  margin: 0 0 30px 0; }

.breadcrumb {
  margin: 0;
  padding: 7px 15px;
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 11px; }

.sub-category_list {
  margin-top: 15px !important;
  border: 0 !important; }

/* > 768px */
@media only screen and (min-width: 768px) {
  .container-small {
    width: 300px; }

  .container-large {
    width: 970px; } }
/* > 992px */
@media only screen and (min-width: 992px) {
  .container-small {
    width: 500px; }

  .container-large {
    width: 1170px; } }
/* > 1200px */
@media only screen and (min-width: 1200px) {
  .container-small {
    width: 700px; }

  .container-large {
    width: 1500px; } }
/* < 1200px */
@media only screen and (max-width: 1200px) {
  .left-box, #main-menu > li:first-child > a {
    width: 220px !important; } }
/* < 992px */
@media only screen and (max-width: 992px) {
  .left-box, #main-menu > li:first-child > a {
    width: 160px !important; }

  .main-content {
    padding-right: 25px;
    padding-left: 25px; } }
/* < 768px */
@media only screen and (max-width: 768px) {
  .left-box {
    display: none; }

  #main-menu > li:first-child > a {
    width: 100% !important; }

  .header-table {
    display: block !important; }
    .header-table .column {
      display: block !important;
      text-align: center !important; }

  .header-bottom {
    margin-top: 40px !important; }

  .phone-number {
    margin-top: 20px; }

  .left-box {
    width: 100% !important; }

  .money_sale {
    display: block; }

  .private-links {
    width: 100%;
    margin-bottom: 0;
    text-align: center; }

  .social-channels {
    width: 100%;
    border-right: 0;
    border-top: solid 1px #cccccc;
    text-align: center;
    padding-top: 10px; } }

/*# sourceMappingURL=main.css.map */
